input.input-error,
select.input-error {
    border-color: red;
}

.error-msg-text {
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.text-field-forms {
    border: 1px solid #e0e5f2;
    border-radius: 20px;
    padding: 8px;
    font-weight: 200;
    font-size: sm;
    outline: none;
}

.css-7unfy3 {
    min-height: 59% !important;
}

.pagination-btn{
    display: flex;
    text-align: center;
    margin: 5px auto;
    position:sticky;
    bottom: 0px;
}
.page-btn{
    margin: 5px 25px;
}